.akt-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.akt-header{
    margin-bottom: 20px;
}
.akt-filter{
    margin-bottom: 30px;
}
.akt-title{
    font-size: 24px;
}
.akt-spec-container{
    max-height: 35vh;
    max-width: 85vw;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    margin: 0 auto;
}
.akt-container{
    max-height: 35vh;
    max-width: 85vw;
    margin: 0 auto;
}
.akt-spec-content{
    margin-top: 40px;
}
.akt-spec-btns{
    margin-bottom: 20px;
}